<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexandreladriere.formulix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Formulix"
        android:usesCleartextTraffic="true">
        <receiver
            android:name="com.alexandreladriere.formulix.DriverStandingsWidget"
            android:exported="true"
            android:label="@string/main_activity_widget_driver_standings_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/driver_standings_widget_info" />
        </receiver>
        <receiver
            android:name="com.alexandreladriere.formulix.ConstructorStandingsWidget"
            android:exported="true"
            android:label="@string/main_activity_widget_constructor_standings_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/constructor_standings_widget_info" />
        </receiver>
        <receiver
            android:name="com.alexandreladriere.formulix.CalendarOneLineWidget"
            android:exported="true"
            android:label="@string/main_activity_widget_one_line_calendar_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_one_line_widget_info" />
        </receiver>
        <receiver
            android:name="com.alexandreladriere.formulix.CalendarSmallWidget"
            android:exported="true"
            android:label="@string/main_activity_widget_small_calendar_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_small_widget_info" />
        </receiver>

        <activity
            android:name="com.alexandreladriere.formulix.InfoActivity"
            android:exported="false"
            android:label="@string/info_activity_title"
            android:parentActivityName="com.alexandreladriere.formulix.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alexandreladriere.formulix.MainActivity" />
        </activity>

        <receiver
            android:name="com.alexandreladriere.formulix.CalendarMediumWidget"
            android:exported="true"
            android:label="@string/main_activity_widget_medium_calendar_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_medium_widget_info" />
        </receiver>

        <activity
            android:name="com.alexandreladriere.formulix.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>